.contact{
	width: 1160px;
    padding: 0;
	margin:0 auto;
	
}
.contact .title{
	text-align: center;
	font-size:15px;
	color: #333333;
    width: 500px;
	height: 40px;
	margin-top:60px ;
    margin-left: 335px;
	margin-bottom:30px;

}
.contact .box{
	height: 500px;
}
.contact .box .box1{
	width: 650px;
	height: 390px;
	float: left;
}
.contact .box .box2{
	width:400px ;
	height:390px;
	float: right;
	margin-top: 80px;
}
.contact .box .box2 .box3{
	font-size: 15px;
	margin-top: 10px;
}


