* {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.clear {
	clear: both;
}

.center {
	width: 1160px;
	margin: 0 auto;
}