* {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.clear {
	clear: both;
}

.center {
	width: 1160px;
	margin: 0 auto;
}

._news {
	padding: 80px 0;
}


._news h1 {
	text-align: center;
	font-weight: normal;
	font-size: 30px;
}

._news h1 span {
	border-bottom: 5px solid goldenrod;
}

._news ul{
	margin-top: 60px;
	border-bottom: 1px solid #ccc;

}

._news li {
	border: 1px solid #ccc;
	padding: 20px 20px;
	border-bottom: none;

}

._news a{
	color: #666;
}
