<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../modules/bootstrap-3.3.7-dist/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="../static/common/cms.css" />
		<style>
			.template>.panel{
				width: 430px;
				float: left;
				margin-right: 7px;
			}
			
			nav > ul > li:nth-child(3) > a{
				background-color: #2286d2;
			}
			
			.edite{
				background:none;
				border: none;
			}
		</style>
	</head>
	<body>
		<div include="../static/nav.htm"></div>

		<div class="clear"></div>
		<div id="template" class="template" style="padding: 0 20px 0 13px;">
			<div v-for="template in templates" class="panel panel-success">
				<div class="panel-heading">
					<span contenteditable="true">{{template.title}}</span>
					<button type="button" class="btn btn-default btn-xs pull-right">
						<i class="glyphicon glyphicon-remove"></i></button>
				</div>
				<div class="panel-body">
					<table class="table table-bordered">
						<tr>
							<td colspan="3">
								<button v-for="(headerBlock,index) in template.header" type="button" class="btn btn-info btn-block btn-xs">{{headerBlock}}
									<i class="glyphicon glyphicon-remove" @click="delHeader(headerBlock,index)"></i></button>
								<button @click="addHeader(headerBlock,index)" type="button" class="btn btn-default btn-block btn-xs"><i class="glyphicon glyphicon-plus"></i>
									添加顶部栏</button>
							</td>
						</tr>
						<tr>
							<td colspan="2" width="66%">
								<button disabled="disabled" type="button" class="btn btn-default pull-right btn-block btn-xs">
									<i class="glyphicon glyphicon-plus"></i>添加左边栏</button>
							</td>
							<td>
								<button v-for="(asideBlock,index) in template.aside" @click="delHeader(asideBlock,index)" type="button" class="btn btn-info btn-block btn-xs">{{asideBlock}}
									<i class="glyphicon glyphicon-remove"></i></button>
								<button @click="addHeader(asideBlock,index)" type="button" class="btn btn-default btn-block btn-xs"><i class="glyphicon glyphicon-plus"></i>
									添加右边栏</button>
							</td>
						</tr>
						<tr>
							<td colspan="3">
								<button v-for="(footerBlock,index) in template.footer" @click="delHeader(footerBlock,index)" type="button"
								 class="btn btn-info btn-block btn-xs">{{footerBlock}} <i class="glyphicon glyphicon-remove"></i></button>
								<button @click="addHeader(footerBlock,index)" type="button" class="btn btn-default btn-block btn-xs"><i class="glyphicon glyphicon-plus"></i>
									添加底边栏</button>
							</td>
						</tr>
					</table>
				</div>
			</div>

			<div class="panel panel-success newTemplate">
				<div class="panel-heading">
					<span contenteditable="true">
						<input v-model="newTemplate.title" type="text" class="edite" placeholder="点击修改模板名称" />
					</span>
					
					<div class="pull-right">
						<button type="button" class="btn btn-default btn-xs pull-right">
							<i class="glyphicon glyphicon-remove"></i></button>
						<button @click="add()" style="position: relative; top: -6px; margin-right: 8px;" class="btn btn-info">完成</button>
					</div>
				</div>
				<div class="panel-body">
					<table class="table table-bordered">
						<tr>
							<td colspan="3">
								<button v-for="header in newTemplate.header" type="button" class="btn btn-info btn-block btn-xs">{{header}} <i
									 class="glyphicon glyphicon-remove"></i></button>
								<button @click="addHeader()" type="button" class="btn btn-default btn-block btn-xs"><i class="glyphicon glyphicon-plus"></i>
									添加顶部栏</button>
							</td>
						</tr>
						<tr>
							<td colspan="2" width="66%">
								<button disabled="disabled" type="button" class="btn btn-info btn-block btn-xs">正文部分</button>
							</td>
							<td>
								<div v-for="(aside,index) in newTemplate.aside" class="btn-group btn-group-justified" role="group" aria-label="...">
									<div class="btn-group" role="group">
										<button type="button" class="btn btn-block btn-xs">
											<i class="glyphicon glyphicon-stop"></i>
											{{aside}} - 区块
										</button>
									</div>
									<div class="btn-group" role="group">
										<button style="width: 30px;" @click="delAside(index)" type="button" class="btn btn-default btn-xs">
											<i class="glyphicon glyphicon-remove"></i>
										</button>
									</div>
								</div>

								<button @click="addAside()" type="button" class="btn btn-default btn-block btn-xs"><i class="glyphicon glyphicon-plus"></i>
									添加右边栏</button>
							</td>
						</tr>
						<tr>
							<td colspan="3">				
								<div v-for="(footer,index) in newTemplate.footer" class="btn-group btn-group-justified" role="group" aria-label="...">
									<div class="btn-group" role="group">
										<button type="button" class="btn btn-block btn-xs">
											<i class="glyphicon glyphicon-stop"></i>
											{{footer}} - 区块
										</button>
									</div>
									<div class="btn-group" role="group">
										<button style="width: 30px;" @click="delFooter(index)" type="button" class="btn btn-default btn-xs">
											<i class="glyphicon glyphicon-remove"></i>
										</button>
									</div>
								</div>
								
								<button @click="addFooter()" type="button" class="btn btn-default btn-block btn-xs"><i class="glyphicon glyphicon-plus"></i>
									添加底边栏</button>
							</td>
						</tr>
					</table>
				</div>
			</div>

		</div>
		<script src="../modules/jquery-2.1.0.js"></script>
		<script src="../modules/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
		<script src="../modules/module.js"></script>
		<!--
			//vue与jquery在事件绑定上有冲突,这里的示范并不良好
			//如果实在要用请不要使用jquery绑定事件
		-->
		<script src="../modules/vue/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="../modules/vue/vue-resource.min.js" type="text/javascript" charset="utf-8"></script>
		<script>
			var templateVue = new Vue({
				el: "#template",
				beforeCreate: function() {
					//console.log("1.组件创建前,可以添加loading效果")
				},
				data: {
					title: "模板设计",
					bname: "模板设计",
					templates: [],
					newTemplate: {
						//标题
						title: '',
						//区块
						header: [],
						aside: [],
						footer: []
					}
				},
				methods: {
					submitContext: function() {
						this.$http.get('/admin/template', {
							emulateJSON: true
						}).then(function(res) {
							templateVue.templates = res;
						})
					},
					add: function() {
						if (!this.newTemplate.title || 0 == this.newTemplate.title.length) {
							console.log('模板信息不完整')
							return;
						}

						this.$http.post('/admin/template', this.newTemplate, {
							emulateJSON: true
						}).then(function(res) {
							console.log(res)
						})
					},
					addHeader: function(bid,template) {
						if (!template) {
							//新增
							template = this.newTemplate
						}

						template.header.push(bid)
					},
					addAside: function(bid,template) {
						if (!template) {
							//新增
							template = this.newTemplate
						}
						
						template.aside.push(bid)
					},
					addFooter: function(bid,template) {
						if (!template) {
							//新增
							template = this.newTemplate
						}

						template.footer.push(bid)
					},
					delHeader: function(index,template) {
						if (!template) {
							//新增
							template = this.newTemplate
						}

						template.header.splice(index, 1)
					},
					delAside: function(index,template) {
						if (!template) {
							//新增
							template = this.newTemplate
						}

						template.aside.splice(index, 1)
					},
					delFooter: function(index,template) {
						if (!template) {
							//新增
							template = this.newTemplate
						}

						template.footer.splice(index, 1)
					}
				},
				created: function() {
					// console.log("4.组件已创建,但dom还未初始化,")
					// console.log("	a.可以在这里取消loading效果")
					// console.log("	b.可以初始化data数据,比如在cookie/localStorage中读取数据赋值给data")
				},
				beforeMount: function() {
					// console.log("5.组件模板挂载前")
					// console.log("	a.初始化dom挂在数据")
				},
				mounted: function() {
					// console.log("6.组件模板挂载后,但不保证已在docment中")
					// console.log("	a.dom挂在后的更新")
				},
				beforeUpdate: function() {
					// console.log("视图显示中 i.组件更新前")
					// console.log("	a.统一视图初始化数据")
				},
				updated: function() {
					// console.log("视图显示中 ii.组件更新后")
					// console.log("	a.统一视图修改")
				},
				beforeDestroy: function() {
					console.log("7.组件销毁前")
					console.log("	a.数据本地化存储,比如:写入cookis/localStorage")
				},
				destroyed: function() {
					// console.log("7.组件销毁后")
				}
			})
		</script>
	</body>
</html>
